<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <!-- Logo Section -->
        <div class="col-md-4">
          <div class="footer-info">
            <img src="../../assets/img/thefintalklogo copy.svg" alt="Fintalk Logo" class="footer-logo">
          </div>
        </div>

        <!-- Navigation Links and Social Icons in Row -->
        <div class="col-md-4">
          <div class="footer-nav">
            <ul class="footer-nav-links">
              <li><a href="#about">About us</a></li>
              <li><a href="#product">Products</a></li>
              <li><a href="#">Process</a></li>
              <li><a href="#">Credit Repair</a></li>
            </ul>
            <!-- Social Icons -->
            <div class="social-icons">
              <a href="#"><i class="pi pi-facebook"></i></a>
              <a href="#"><i class="pi pi-twitter"></i></a>
              <a href="#"><i class="pi pi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Address and Email/Subscribe Section -->
      <div class="row footer-contact-row">
        <!-- Address Section (Left) -->
        <div class="col-md-6 footer-contact">
          <p><strong>Phone:</strong> +91 9948024674</p>
          <p><strong>Email:</strong> info&#64;thefintalk.in</p>
          <p><strong>Address:</strong> 506, 5th Floor, MGR Estates, <br> Punjagutta, Hyderabad, Telangana 500082</p>
        </div>

        <!-- Subscribe Section (Right) -->
        <div class="col-md-6 footer-subscribe">
         <div class="footer-subscription-box">
  <div class="footer-subscription-row">
    <div class="footer-subscription-item">
      <input type="email" placeholder="Your email" class="footer-email-input">
    </div>
    <div class="footer-subscription-item">
      <button class="footer-subscribe-btn">Subscribe</button>
    </div>
  </div>
</div>

        </div>
      </div>

    </div>
  </div>

  <!-- Copyright -->
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Fintalk</span></strong>. All Rights Reserved.
    </div>
  </div>
</footer>


