.loan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 24px;
 /* Aligns cards properly */
}

@media (max-width: 1024px) {
  .loan-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .loan-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .loan-grid {
    grid-template-columns: 1fr;
  }
}

.loan-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background: #fafafa;
  cursor: pointer;
  transition: 0.3s;
}

.loan-card:hover {
  transform: translateY(-5px);
  border-color: #00bfa6;
  box-shadow: 0 4px 10px rgba(0, 191, 166, 0.1);
  transform: translateY(-2px);
}

.loan-card.active {
  border: 2px solid #4faf9f;
  background: #f1f9f5;
  h3 {
    color: #4faf9f;
  }
  // .icon {
  //   border: 0.88px solid #4faf9f;
  //   box-shadow: 0px 1.76px 1.76px 0px #48505814;
  //   background-color: #f8fffe; /* soft greenish background for clarity */
  // }
  .icon img {
    filter: invert(58%) sepia(12%) saturate(900%) hue-rotate(120deg)
      brightness(95%) contrast(90%);
  }
}

.next-btn {
  margin-top: 20px;
  background: #2d9cdb;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.next-btn:disabled {
  background: #aaa;
}
.loan-card h3 {
  font-size: 15px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
