<!-- Breadcrumb -->
<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

<div class="back-btn" (click)="goBack()">← Back</div>
<h2>Choose the Business Turnover</h2>
<p>Select a Business Turnover below to continue</p>

<div class="loan-grid">
  <div
    class="loan-card"
    *ngFor="let entity of TurnoverTypes"
    [class.active]="selectedTurnover === entity.name"
    (click)="selectEntity(entity.name)"
  >
    <div class="icon mb-3">
      <img [src]="entity.icon" alt="{{ entity.title }}" />
    </div>
    <h3>{{ entity.title }}</h3>
    <!-- <p>{{ entity.description }}</p> -->
  </div>
</div>

<!-- <button class="next-btn" (click)="continue()" [disabled]="!selectedTurnover">
  Continue
</button> -->
