// .loan-type-container {
//   max-width: 850px;
//   margin: 2rem auto;
//   text-align: center;
//   font-family: "Inter", sans-serif;
// }

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
  color: #1a1a1a;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 2rem;
}

.loan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;
  justify-content: center;
}

.loan-card {
  background: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 16px;
  padding: 1.5rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.loan-card:hover {
  border-color: #00bfa6;
  box-shadow: 0 4px 10px rgba(0, 191, 166, 0.1);
  transform: translateY(-2px);
}

.loan-card.active {
  border: 2px solid #4faf9f;
  background: #f1f9f5;
  h3 {
    color: #4faf9f;
  }
  .icon {
    border: 0.88px solid #4faf9f;
    box-shadow: 0px 1.76px 1.76px 0px #48505814;
    background-color: #f8fffe; /* soft greenish background for clarity */
  }
.icon img {
    filter: invert(58%) sepia(12%) saturate(900%) hue-rotate(120deg)
      brightness(95%) contrast(90%);
  }
}

.loan-card .icon {
  angle: 0 deg;
  opacity: 1;
  gap: 8.81px;
  border-radius: 7.04px;
  border-width: 0.88px;
  padding: 8px;
  background: #ffffff61;
  border: 0.88px solid #2e35391a;
  box-shadow: 0px 1.76px 1.76px 0px #48505814;
}

.loan-card h3 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
  color: #111827;
}

.loan-card p {
  color: #6b7280;
  font-size: 0.95rem;
  margin-top: 0.25rem;
}

.next-btn {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: #00bfa6;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.next-btn:disabled {
  background-color: #cbd5e1;
  cursor: not-allowed;
}

.next-btn:not(:disabled):hover {
  background-color: #00a58f;
}
