<!-- Breadcrumb -->
<!-- <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb> -->

<div class="congrats-card">
  <div class="content" *ngIf="!isSubmitted">
    <h2>
      <span class="first-line">Congratulations, you are Eligible For</span>
      <span class="second-line">
        <span class="loan-type">{{ loanType }}</span>
        <span class="loan-amount">of up to ₹50 Lakhs.</span>
      </span>
    </h2>

    <!-- <button class="contact-btn" (click)="onContactClick()">Contact Us</button> -->
  </div>
  <app-contact-details (submitted)="isSubmitted = true"></app-contact-details>
</div>
