

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color:#171E32;
  color: #ffffff;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: bottom 0.3s ease;
  opacity: 0;
}

.scroll-top-button.show {
  bottom: 40px;
  opacity: 1;
}

.scroll-top-button:hover {
  background-color: #17b57d;
  transform: scale(1.05);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}





#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
