<!-- Breadcrumb -->
<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

<div class="back-btn" (click)="goBack()">← Back</div>

<div *ngIf="loanType === 'Business Loan'">
  <h2>Choose the Business Vintage</h2>
  <p>Select a Business Vintage below to continue</p>

  <div class="loan-grid">
    <div
      class="loan-card"
      *ngFor="let entity of VinatgeTypes"
      [class.active]="selectedVintage === entity.name"
      (click)="selectEntity(entity.name)"
    >
      <div class="icon mb-3">
        <img [src]="entity.icon" alt="{{ entity.title }}" />
      </div>
      <h3>{{ entity.title }}</h3>
      <!-- <p>{{ entity.description }}</p> -->
    </div>
  </div>
</div>

<div *ngIf="loanType === 'Personal Loan'">
  <h2>Choose the Job Experience</h2>
  <p>Select a Business Vintage below to continue</p>

  <div class="loan-grid">
    <div
      class="loan-card"
      *ngFor="let exp of workExpRanges"
      [class.active]="selectedExperience === exp.name"
      (click)="selectExperience(exp.name)"
    >
      <div class="icon mb-3">
        <img [src]="exp.icon" alt="{{ exp.title }}" />
      </div>

      <h3>{{ exp.title }}</h3>
      <!-- <p>{{ exp.description }}</p> -->
    </div>
  </div>
</div>


<div *ngIf="loanType === 'Professional Loan'">
  <h2>Monthly Income</h2>
  <p>Select your monthly income range</p>

  <div class="loan-grid">
    <div
      class="loan-card"
      *ngFor="let income of incomeRanges"
      [class.active]="selectedIncome === income.name"
      (click)="selectIncome(income.name)"
    >
      <div class="icon mb-3">
        <img [src]="income.icon" alt="{{ income.title }}" />
      </div>

      <h3>{{ income.title }}</h3>
      <!-- <p>{{ income.description }}</p> -->
    </div>
  </div>
</div>


<div *ngIf="loanType === 'Education Loan'">
  <h2>Course Level</h2>
  <p>Select your course level</p>

  <div class="loan-grid">
    <div
      class="loan-card"
      *ngFor="let level of courseLevels"
      [class.active]="selectedCourseLevel === level.name"
      (click)="selectCourseLevel(level.name)"
    >
      <div class="icon mb-3">
        <img [src]="level.icon" alt="{{ level.title }}" />
      </div>

      <h3>{{ level.title }}</h3>
      <!-- <p>{{ level.description }}</p> -->
    </div>
  </div>
</div>
